*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --box-background-color: #e6f6f5;
    --head-color: #00a79d;
    --text-color: #00a79d;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.main_box{
    min-width: 300px;
    max-width: 450px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: var( --box-background-color );
    text-align: center;
}

.head_title{
    margin: 0 auto 15px;
    background-color: var( --head-color );
    max-width: 230px;
    text-align: center;
    padding: 15px 0;
    border-radius: 0 0 15px 15px;
}

.head_title h2{
    color: #fff;
    font-size: 20px;
}

.info{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.details{
    margin: 0 auto;
    width: 100%;
}

.details_title{
    padding: 5px 0;
    border-bottom: 2px solid #00a79d;
}

.details_title h2{
    font-size: 19px;
    color: var( --text-color );
}

.details_count{
    padding: 10px 0;
    color: #222;
}

.details_count h2{
    font-size: 25px;
}

.pl{
    padding-left: 15px;
}

.pr{
    padding-right: 15px;
}

.chart{
    margin-bottom: 15px;
}

.chart svg{
    width: 20px;
    fill: red;
}

.chart svg:hover{
    fill: #222;
    cursor: pointer;
}